.scheduledContentDashboard .umb-box-header_scheduledcontent {
    padding-bottom: 20px;
}

.scheduledContentDashboard .btn-dashboard {
    border: 1px solid #bbbabf;
    color: #1b264f;
    height: 32px;
    width: 32px;
    border-radius: 0;
    background-color: transparent !important;
    padding: 6px !important;
}

.scheduledContentDashboard .btn-dashboard:active {
    box-shadow: none !important;
}

.scheduledContentDashboard .btn-dashboard:hover {
    border-color: #2152a3;
    color: #2152a3;
}

.scheduledContentDashboard .btn-dashboard .umb-button__icon {
    margin-right: 0;
}